.header {
    flex: 1;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    background-color: rgb(62, 62, 62);
    border-bottom: 1px solid whitesmoke;
}

.header__image {
    height: 10% !important;
    min-height: 80px;
    width: 10% !important;
    min-width: 80px;
    object-fit: contain;
    border-radius: 10%;
    animation: top-up 2s ease-in forwards 1;
}

@keyframes top-up {
    0% {
        transform: translateY(-90%);
    }
    100% {
        transform: translateX(0);
    }
}

.header__details {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5%;
    color: rgb(218, 218, 218);
}

.header__detailsDescription {
    flex: 1;
    animation: right-to-left 2s ease-in forwards 1; 
}

@keyframes right-to-left {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
} 

.header__detailsDescription > h1 {
    /* font-size: 250%; */
    font-weight: 700;
    font-size: 2.8vw;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header__detailsDescription > h2 {
    /* font-size: 150%; */
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 1.5vw;
}

.header__detailsIcons {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: rebeccapurple; */
    animation: left-to-right 2s ease-in forwards 1; 
}

@keyframes left-to-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
} 

.header__detailsIcons > .MuiSvgIcon-root,
.kaggleIcon {
    font-size: 4vw !important;
    cursor: pointer;
    transition: 200ms color ease-in-out;
}

.header__detailsIcons > .MuiSvgIcon-root:hover,
.kaggleIcon:hover {
    color: rgb(255, 255, 255);
    transition: 400ms;
    transform: scale(1.03);
}

@media (max-width: 900px) {
    .header__details {
        flex-direction: column;
    }
    
    .header__detailsIcons {
        padding-top: 4%;
    }


    .header__detailsDescription > h2 {
        margin-top: 2%;
    }
}